body{
    font-family:
Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f0f0f0;
color:#333;
transition: background-color 0.3,color 0.3s;
}
header {
    background-color: #333;
    color:white;
    padding:10px;
    text-align: center;
}

#menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#menu li {
    display: inline;
}

#toggle-theme {
    margin-top: 10px;
}

section {
    padding: 20px;

}

.dark-mode {
     background-color: #121212;
     color:white;
}

.dark-mode header {
    background-color: #1c1c1c;
}

.dark-mode a {
    color:black
}